<h2>Product list</h2>
<ul>
    <li *ngFor="let product of (products$ | async); let i=index"
    (click)="selectedProduct = product">
        <app-product-view [id]="i"></app-product-view>
    </li>
</ul>
<app-product-detail
#product 
[product]="selectedProduct" 
(bought)="onBuy()"></app-product-detail>
<br>
<div>
    <hr>
    <p>{{ today | formatDate }}</p>
    <p appCopyright></p>
</div>
<!-- <span>{{ product.name }}</span> -->
<!-- <input type="text" [ngClass]="{'error': isInvalid(inputValue)}" [(ngModel)]="inputValue">
<div [ngStyle]="{'color': isInvalid(inputValue) ? 'red' : 'green'}">
    {{ inputValue }}
</div> -->

    <!-- @for(product of products; track product){
    <li (click)="selectedProduct = product> {{ product }} </li>
    } @empty{
        <li> No products </li>
    }-->
