<div *ngIf="product$ | async as product; else noProduct">
    <h2>Product detail</h2>
    <h3>{{ product.name | uppercase }}</h3>
    <p>Cena: {{ product.price | currency:'PLN' }}</p>
    <p>Rabat: {{ 0.10 | percent }}</p>
    <p>JSON: {{ product | json }}</p>
    <div [ngSwitch]="product.name">
        <p *ngSwitchCase="'kurs React'">react jest super</p>
        <p *ngSwitchCase="'kurs Angular'">angular jest super</p>
        <p *ngSwitchDefault>Brak opisu</p>
    </div>
    <button (click)="buy(product)">Kup Teraz</button>
</div>
<ng-template #noProduct>
    <h3>No product selected</h3>
</ng-template>  

<!-- @if(productName){
    <div>
    <h2>Product detail</h2>
    <h3>{{ productName }}</h3>
    <button (click)="buy()">Kup Teraz</button>
</div>
}
@elseif(productName == 'Reklamka') {
    <h2>Reklamka...</h2>
}
@else {
    <h2>No product selected</h2>
} -->

<!-- <div style="text-align: center;">
    <h1 style="background-color: aqua;">
        Welcome To learn about Structural Directives</h1>
    Enter Your name : <input type="text" #txtname (keyup)="0"><br />
    @switch(txtname.value)
    {
    @case('Ram'){
    <b>Hello Ram</b>
    }
    @case('Shyam'){
    <b>Hello Shyam</b>
    }
    @case('Mohan'){
    <b>Hello Mohan</b>
    }@default{
    <b>No data matched</b>
    }
    }
</div> -->