<div *ngIf="productName;else noProduct">
    <h2>Product detail</h2>
    <h3>{{ productName }}</h3>
    <div [ngSwitch]="productName">
        <p *ngSwitchCase="'kurs React'">react jest super</p>
        <p *ngSwitchCase="'kurs Angular'">angular jest super</p>
        <p *ngSwitchDefault>Brak opisu</p>
    </div>
    <button (click)="buy()">Kup Teraz</button>
</div>
<ng-template #noProduct>
    <h3>No product selected</h3>
</ng-template>  

<!-- @if(productName){
    <div>
    <h2>Product detail</h2>
    <h3>{{ productName }}</h3>
    <button (click)="buy()">Kup Teraz</button>
</div>
}
@elseif(productName == 'Reklamka') {
    <h2>Reklamka...</h2>
}
@else {
    <h2>No product selected</h2>
} -->
